/* russo-one-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/russo-one-v14-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/russo-one-v14-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* ruslan-display-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ruslan-display-v22-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/ruslan-display-v22-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* public-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/public-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/public-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/public-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/public-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/public-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/public-sans-v14-latin-regular.svg#PublicSans') format('svg'); /* Legacy iOS */
}
  html{
    box-sizing: border-box;
  }
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Russo One';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal; 
    color: white;
}

.wrapper{
    max-width: 2900px;
    margin: 0 auto;
}

/*Header style start */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 60px;
    
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 82px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link{
    font-size: 20px;
    line-height: 70px;
    color: white;
    text-decoration: none;
    transition: .2s ease-in;
}

.header__link:hover,.header__link:focus,.header__link:active{
    opacity: .80;
}

.header_fixed{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    animation-name: show_header;
    animation-duration: 0.5s;
}

@keyframes show_header{
    0%{
    opacity: 0;
    top: -70%;
    }
    100%{
    opacity: 1;
    top: 0;
    }
    
    
}

/*Header style end */





/*intro style start */

.intro{
    min-height: 100vh;
    background: linear-gradient(rgb(21, 5, 33), rgb(0, 0, 0));
    background-size: cover;
    padding-top: 150px;
    padding-left: 4%;
}


/*intro style end */








/*footer_stile start*/
.footer{
  background: black;
  padding: 5px 0;
}

.footer__logo{
  padding-left: 4%;
  padding-bottom: 0%;
}

.footer__item{
  display: flex;
  flex-wrap: wrap;
}

.footer__logo{
  width: 20%;
}

.footer__logo-pic{
  padding-top: 20px;
}

.footer__nav{
  width: 50%;
  padding-left: 1000px;
}

.footer__menu-title{
  font-weight: 400;
  font-size: 20px;
  line-height: 50 px;
}

.footer__menu-link{
  color: white;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  transition: .2s ease-in;
}

.footer__menu-link:hover,.footer__menu-link:focus,.footer__menu-link:active{
  opacity: .80;
}


/*footer_stile end*/

.title{
    font-size: 40px;

    
}

.sign__back{
    background-color: #6d44b8;
    font-family: 'Russo One';
    color: azure;
    size: 200px;
    margin-top: 6%;
    padding: 10%;
    border:  none;
    display: inline-block; /* Строчно-блочный элемент */
    transition: .2s ease-in;
    color: #fff; /* Белый цвет текста */
    padding: 0.5rem 2rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}

.sign__back:hover,.sign__back:focus,.sign__back:active{
    background: #583795;
}



img {
  width: 100%;
}

a{
  color: white;
}

.caption,
h1,
.date {
  margin: 0;
  text-align: center;
}

.caption,
h1 {
  font-family: "Russo One", sans-serif;
  font-size: 2em;
  padding: 10px 10px 0 10px;
  color: rgb(255, 255, 255);
}

.date {
  font-size: 0.75em;
}

.description {
  font-size: 1em;
  padding: 0 20px 20px 20px;
  text-align: left;
}

.container {
  perspective: 1000px;
  display: inline-block;
  margin: 3%;
  
}

.container:hover .flipper {
  transform: rotateY(180deg);
}

.container,
.front,
.back {
  width: 250px;
  height: 250px;
}

.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
 
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.front {
  z-index: 2;
  
}

.back {
  transform: rotateY(180deg);
  
}



p{
  font-size: larger;
}

#content {
  text-align: center;
  
}

.GG{
  text-decoration: none;
}

.subtitle{
  font-size: 25px;
  padding-left: 120px;
  padding-bottom: 50px;
}




  





.search-form__info{
  display: flex;
  flex-wrap: wrap;
  
}

.search-form__field{
  width: 350px;
  background-color: transparent;
  background: url(../img/svg/ellipse.svg)no-repeat left top;
  background-size: 30px;
  border: 0;
  border-bottom: 4px solid #FFFFFF;
  margin-right: 200px;
  padding-left: 40px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.search-form__field::placeholder{
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Russo One';
}

.search-form__submit{
  padding: 0% 3%;
  font-family: 'Russo One';
  background-color: rgb(255, 255, 255);
}

.search-form__submit:hover,.search-form__submit:focus,.search-form__submit:active{
  background: rgb(242, 242, 242);
}

.search-form__wrap{
  margin-left: 350px;
  padding-bottom: 40px;
}



* {
  margin: 0;
  padding: 0;
}

.VK{
  width: 700%;
}
.inst{
  width: 700%;
}

.yt{
  width: 700%;
}
.tel{
  width: 700%;
}

